@{
    ViewData["Title"] = "Citations";
}
<h1>@ViewData["Title"]</h1>

<p>  
    Resig, John, et al. “5.1. Understanding Closures.” Secrets of the JavaScript Ninja, Second Edition, 2nd ed., Manning Publications, 2016, p. 1, manning.com/book/secrets-of-the-javascript-ninja-second-edition/chapter-5.
</p>
